@import url("normalize.css");

main {
    margin: 2rem auto 0;
    width: 70%;
    border: 2px solid black;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
}

button {
    padding: 0.8rem 1rem;
    border: none;
    background-color: blue;
    border-radius: 5px;
    color: white;
}

body {
    background-color: rgb(6, 88, 16);
}

#game-container {
    margin: 0 auto;
    width: 50%;
}
    #extra-flex {
        display: flex;
        margin: 0.5rem 0;
        justify-content: space-between;
    }
    #card-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.5rem;
        place-items: center;
        padding: 1rem;
    }
        .card {
            width: 105px;
            height: 120px;
            border: 8px double red;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 34px;
            padding: 0.5rem;
        }
        .card:hover {
            cursor: pointer;
        }
            .card img {
                max-width: 100%;
                width: 25%;
            }

#victory-screen {
    background-color: red;
    width: 50%;
    margin: 4rem auto;
    border-radius: 1rem;
    flex-direction: column;
    align-items: center;

    & h1 {
        font-size: 40px;        
    }
    & h1, 
    & h2 {
        margin: 0.5rem;        
    }
}
    #play-again {
        margin: 0.5rem;
    }            
 
.flex {
    display: flex;
}
.invisible {
    display: none;
}