@import url("normalize.css");

main {
    margin: 2rem auto 0;
    width: 70%;
    border: 2px solid black;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
}

button {
    padding: 0.8rem 1rem;
    border: none;
    background-color: white;
    border-radius: 5px;
    color: black;
}

body {
    background-color: rgb(15, 63, 20);
    background-image: url("img/suits\(3\).png");

    background-size: 25%;
}

#game-container {
    margin: 0 auto;
    width: 55%;
    background-color: rgba(56, 8, 8, 0.9);
    border: 2px solid white;
    border-radius: 10px;
}
    #extra-flex {
        display: flex;
        margin: 0.5rem 0;
        padding: 0.5rem 2rem;
        justify-content: space-between;
        border-bottom: 2px solid blue;
    }
        #timer {
            color: white;
            font-size: 22px;
        }
    #card-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.5rem;
        place-items: center;
        padding: 1rem;
    }
        .card {
            width: 80px;
            height: 100px;
            border: 8px double red;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 34px;
            padding: 0.5rem;
        }
        .card:hover {
            cursor: pointer;
        }
            .card img {
                max-width: 100%;
                width: 40%;
            }

#victory-screen {
    background-color: rgba(56, 8, 8, 0.9);
    color: white;
    width: 50%;
    margin: 4rem auto;
    border-radius: 1rem;
    flex-direction: column;
    align-items: center;

    & h1 {
        font-size: 40px;        
    }
    & h1, 
    & h2 {
        margin: 0.5rem;        
    }
}
    #play-again {
        margin: 0.5rem;
    }            
 
.flex {
    display: flex;
}
.invisible {
    display: none;
}